In [7]:
import numpy as np
import pandas as pd
import mysql.connector as db
from string import Template

In [2]:
#config
config = {
    "table":"<table>",
    "host":"<host>",
    "user":"<user>",
    "password":"<password>",
    "database":"<db name>",
}

In [3]:
# connecting to database
mydb = db.connect(host=config["host"],user=config["user"],passwd=config["password"],database=config["database"])

In [4]:
#read the csv file
my_data = pd.read_csv("data.csv")

In [56]:
# function to insert data
def insert_data():
    try:
        # getting columns
        db_cols = my_data.columns
        col_names = '('+','.join(db_cols)+')'
        
        #making sql template
        sql = Template('INSERT INTO $table_name $col_names VALUES $values')
        values = np.array([])
        for i in range(len(my_data)):
            arr = np.array([])
            for col in db_cols:
                arr = np.append(arr,"'"+my_data[col][i]+"'")
            values = np.append(values,['('+','.join(arr)+')'])
        values = ','.join(values)
        sql = sql.substitute({"table_name":config["table"],"col_names":col_names,"values":values})
        
        #running sql
        my_db_cursor = mydb.cursor()
        my_db_cursor.execute(sql)
        mydb.commit()
    except Exception as e:
        print("error occured",e)

In [58]:
insert_data()